.container{ 
            display: grid;
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            height: 100vh;
            padding: 50px;
            row-gap: 2rem;
            column-gap: 2rem;
            background-color: lightskyblue;
           

}

span{   
        color: white;
        font-size: xx-large;
       
}

.header{    
        background-color: rgb(34, 187, 148);
        grid-row: 1 / 2;
        grid-column: 1 / 6;
        display: flex;
        justify-content: center;
        align-items: center;
}

.navigation{
        background-color: rgb(64, 190, 6);
        grid-row: 2 / 3;
        grid-column: 1 / 6;
        display: flex;
        justify-content: center;
        align-items: center;
}

.aside{ 
        background-color: rgb(165, 224, 77);
        grid-row: 3 / 5;
        grid-column: 1 / 2;
        display: flex;
        justify-content: center;
        align-items: center;
}

.content{   
        background-color: rgb(24, 111, 203);
        grid-row: 3 / 4;
        grid-column: 2 / 6;
        display: flex;
        justify-content: center;
        align-items: center;
}

.section{   
        background-color: rgb(35, 60, 130);
        grid-row: 4 / 5;
        grid-column: 2 / 6;
        display: flex;
        justify-content: center;
        align-items: center;
}

.footer{    
        background-color: rgb(34, 187, 148);
        grid-row: 5 / 6;
        grid-column: 1 / 6;
        display: flex;
        justify-content: center;
        align-items: center;
}