
.container{ 
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                grid-template-rows: 1fr 1fr 1fr;
                justify-content: center;              
                row-gap: 2rem;
                column-gap: 2rem;
                height: 100vh;
                padding: 20px;
                background-color: rgb(225, 245, 252);
             
            
}

.image1{    
        background-color: rgb(245, 209, 80);
        padding: 5px;
}

.image2{    
        background-color: rgb(245, 209, 80);
        padding: 5px;
}

.image3{    
        background-color: rgb(245, 209, 80);
        padding: 5px;
}

.image4{    
        background-color: rgb(245, 209, 80);
        padding: 5px;
}

.image5{    
        background-color: rgb(245, 209, 80);
        padding: 5px;
}

.image6{    
        background-color: rgb(245, 209, 80);
        padding: 5px;
}

.image7{    
        background-color: rgb(245, 209, 80);
        padding: 5px;
}

.image8{    
        background-color: rgb(245, 209, 80);
        padding: 5px;
}

.image9{    
        background-color: rgb(245, 209, 80);
        padding: 5px;
}

span{   
    color: white;
    font-size:x-large;
}